<div  class="modal-header ajs-header">
  <h4 class="modal-title page-header ">Modifier les rôles pour {{user.userName}}</h4>
</div>
<div class="modal-body ">
  <form #rolesForm="ngForm" id="rolesForm">
    <div  class="form-check" *ngFor="let role of roles">
      <input
        class="form-check-input mr-2 Font-Kufi "
        type="checkbox" value="role.value"
        [checked]="role.checked"
        (change)="role.checked = !role.checked"
        [disabled]="role.value ==='Admin' && user.userName ==='Admin'"
        >
      <label class="ml-4 ajs-content">{{role.name}}</label>
    </div>
  </form>
</div>
<div  class="modal-footer text-center">
  <button type="button" class="btn ajs-button ajs-header ml-5 " (click)="updateRoles();" form="rolesForm">Entrer</button>
  <button type="button" class="btn ajs-button ajs-header mr-5 " (click)="bsModalRef.hide()">Fermer</button>
</div>