[type="checkbox"]:before  {
    content: "";
    position: absolute;
    top: -1.2em;
    width: 27px;
    height: 25px;
    border: 3px solid rgb(2, 14, 68);
    border-radius: 5px;
    text-align: center;
}

/* ✔ */

[type="checkbox"]:checked:after {
    content: "✔";
   
    color: rgb(15, 236, 63) !important;
}

.modal-footer{
    display: block !important;
}