<div class="card">
  <div #panel class="card-body">
      <div style="font-weight:bold;font-family:'Tajawal';font-size:1.2rem;" *ngIf="messages?.length === 0">
          Il n'y a pas encore de message ... Ecrivez bonjour et envoyez le pour commencer une nouvelle histoire
      </div>

      <ul class="chat">
          <li *ngFor="let message of messages">
              <!-- Inbox -->
              <div *ngIf="message.senderId == recipientId">
                  <div class="text-left">
                      <div class="badge badge-primary">
                          <span>
                              <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnowAs}}"
                                  class="rounded-circle">
                          </span>
                          <strong class="ml-1" style="vertical-align: top;">{{message.senderKnowAs}}</strong>
                          <small style="vertical-align: top;margin-right: 5px;" class="text-muted">
                              <span class="fa fa-clock-o"><small>{{message.messageSent | timeAgo}}</small></span>
                          </small>
                      </div>

                  </div>

                  <div class="text-left">
                      <p class="content-inbox text text-primary d-inline-block">{{message.content}}</p>
                  </div>

              </div>


              <!-- Outbox -->
              <div *ngIf="message.senderId != recipientId">
                  <div class="text-right">
                      <div class="badge badge-info ">
                          <span class="chat-img">
                              <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnowAs}}"
                                  class="rounded-circle">
                          </span>
                          <strong style="vertical-align: top;" class="ml-1">{{message.senderKnowAs}}</strong>
                          <small style="vertical-align: top;margin-right: 5px;" class="text-muted">
                              <span
                                  class="align-middle  fa fa-clock-o"><small>{{message.messageSent | timeAgo}}</small></span>
                              <strong *ngIf="!message.isRead" class="text-danger align-middle"> ( Non lu )</strong>
                              <strong *ngIf="message.isRead" class="text-warning align-middle"> ( Lu )
                                  {{message.dateRead | timeAgo}})</strong>
                          </small>
                      </div>
                  </div>

                  <div class="text-right">
                      <p class="text text-info content-outbox ">{{message.content}}</p>
                  </div>
              </div>

          </li>
      </ul>

  </div>

  <div class="card-footer">
      <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage();">
          <div class="input-group">
              <input type="text" name="content" [(ngModel)]="newMessage.content" required class="form-control input-sm" placeholder="Écrivez votre message ici">
              <div class="input-group-append">
                  <button [disabled]="!messageForm.valid" class="btn btn-primary ml-1">Envoyer</button>
              </div>
          </div>
      </form>
  </div>


</div>