<nav class="rtl navbar navbar-expand-md navbar-dark bg-dark">
  <a style="margin-top:-10px;color:rgb(3, 233, 3);
font-family:Longhaul;font-size:2.25rem;font-weight:bolder" class="navbar-brand"
   [routerLink]="['']" >EmploiNet</a>

  <ul style="letter-spacing:1px;font-weight:bold;font-family:'CaviarDreams';font-size:1.2rem" class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['']" >Acceuil </a>
    </li>

    <li  class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/members']"  > Recherche </a>
    </li>

    <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/lists']"  >Liste</a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link notification" [routerLink]="['/messages']" routerLinkActive="active">Messages<span *ngIf="count!=='0'" class="badge badge-warning"> {{count}} </span></a>
        </li>

  </ul>

  <div *ngIf="loggedIn()" dropdown  class="dropdown ">
      
    <a dropdownToggle *ngIf="loggedIn()" style="letter-spacing:1px;font-weight:bold;font-family:'CaviarDreams';font-size:1.2rem"  class="dropdown-toggle text-light nav-link " >
        BienVenu 
      {{authService.decodedToken?.unique_name | titlecase}} <samp><img src="{{photoUrl || 'assets/user.png'}}" alt=""></samp> 
    </a>
    <div *dropdownMenu class="dropdown-menu mt-3 " >
      <a class="dropdown-item  mnav-link" [routerLink]="['/member/edit']" ><i class="fa fa-user-o" aria-hidden="true"></i>
        Mon Compte</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item   mnav-link" (click)="loggedOut()" ><i class="fa fa-sign-out"></i>
        Déconnexion</a>
    </div>
  </div>
  

  <form *ngIf="!loggedIn()" (submit)="login()" #loginForm="ngForm" class="form-inline my-2 my-lg-0">
    <input required name="username" class="form-control mr-sm-2" type="text" [(ngModel)]="model.username" placeholder="Login">
    <input required  name="password" class="form-control mr-sm-2" type="password" [(ngModel)]="model.password" placeholder="Mot passe">
    <button [disabled]="!loginForm.valid" style="font-weight:bold;font-family:'CaviarDreams';font-size:1.0rem" class="btn btn-secondary my-2 my-sm-0" type="submit"> Entrer </button>
  </form>

</nav>
