<div class="container mt-4">
        <div class="row">
          
          <div class="col-sm-4 mt-3">
            <div class="card">
              <img class="card-img-top img-thumbnail" src="{{user.photoUrl || 'assets/user.png'}}" alt="{{user.username}}">
              <div class="card-body">
                <div>
                  <strong>Adresse : </strong>
                  <p>{{user.country}}-{{user.city}}</p>
                </div>
                <div>
                  <strong>Age :</strong>
                  <p>{{user.age}}</p>
                </div>
                <div>
                  <strong>Dernière apparition : </strong>
                  <p>{{user.lastActive | timeAgo}}</p>
                </div>
                <div>
                  <strong>Adhéré depuis :</strong>
                  <p>{{created }}</p>
                </div>
              </div>
              <div class="card-footer">
                <div class="btn-group d-flex">
                  <button class="btn btn-info btn-lg mr-2">Like </button>
                  <button class="btn btn-info btn-lg ml-2" (click)="selectTab(3)">Postuler</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="tab-Panel">
              <tabset #memberTabs class="member-tabset">
                <tab heading="Je suis {{user.username}}">
                  <div class="card">
                      <div class="card-header">
                          <h4  style="color: white">Je me présente </h4>
                        </div>
                        <div class="card-text mt-3 p-2">
                          <p #intro>{{user.intoduction | slice:0:100}}</p>
                        </div>
                        <button [hidden]='!showIntro' class="btn btn-primary" (click)="intro.innerText=user.intoduction;showIntro=false">Lire la suite</button>
                        <button [hidden]='showIntro' class="btn btn-danger" (click)="intro.innerText=user.intoduction.slice(0,100) ;showIntro=true">Raccourcir</button>
                  </div>
                  
                  <div class="card mt-4">
                      <div class="card-header">
                          <h4  style="color: white">Je Cherche :</h4>
                        </div>
                        <div class="card-text mt-3 p-2">
                          <p #look>{{user.lookingFor | slice:0:100}}</p>
                        </div>
                        <button [hidden]='!showLook' class="btn btn-primary" (click)="look.innerText=user.lookingFor;showLook=false">Lire la suite</button>
                        <button [hidden]='showLook' class="btn btn-danger" (click)="look.innerText=user.lookingFor.slice(0,100) ;showLook=true">Raccourcir</button>
                  </div>
      
                  
                </tab>
            
            
      
            <tab heading="Mes hobbies">
                <div class="card">
                    <div class="card-header">
                        <h4  style="color: white">Mes hobbies </h4>
                      </div>
                      <div class="card-text mt-3 p-2">
                          <p>{{user.interests}}</p>
                      </div>
                </div>
            </tab>
      
      
            <tab heading="Album photo">
      
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </tab>
      
            <tab heading="Les messages" (deselect)="deselect();">
                <!-- <div class="card-header">
                    <h4  style="color: white">Les messages </h4>
                </div> -->
                <!-- ajouter conponante member-message comme fils -->
                <app-member-messages [recipientId]="user.id"></app-member-messages>
            </tab>
      
            </tabset>
          </div>
        </div>
      </div>
      </div>