<div style="padding-top:10%;padding-bottom: 10%;"  class="rtl text-center container">

    <div *ngIf="!registerMode" style="text-align: center">

      <p style="font-family:'CaviarDreams'" ><strong>Vous Recommandons :</strong> </p>
      <p style="font-family:'CaviarDreams'">Candidats a la recherche d'emploi, ou entreprises a la recherche de collaborateurs <b>EmploiNet</b> vous permet de retrouver des milliers d'offres d'emploi actualisees.</p>

      <div class="text-center">
        <button (click)="registerToggle()" style="font-family:'CaviarDreams'" class="btn btn-info btn-lg">Particper avec nous</button>
      </div>

    </div>
  
    <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register (cancelRegister)="cancelRegister($event)"></app-register>
        </div>
      </div>
    </div>
</div>

