<div  class="container mt-5">

    <div *ngIf="!registerMode" style="text-align: center">

      <h2 style="font-family:'CaviarDreams'">Nous vous recommandons :</h2>
      <h5 style="font-family:'CaviarDreams'">Candidats a la recherche d'emploi, ou entreprises a la recherche de collaborateurs <b>EmploiNet</b> vous permet de retrouver des milliers d'offres d'emploi actualisees.</h5>

      <div class="text-center">
        <button (click)="registerToggle()" style="font-family:'CaviarDreams'" class="btn btn-secondary btn-lg">Particper avec nous</button>
      </div>

    </div>
  
    <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register (cancelRegister)="cancelRegister($event)"></app-register>
        </div>
      </div>
    </div>
</div>

