.table td{
    vertical-align: middle;
    font-family: 'CaviarDreams';
    text-align: center;
}

.table th{
    vertical-align: middle;
    font-family: 'CaviarDreams';
    text-align: center;
    font-weight:bolder;
}