<div class="row">
  <div class="ml-4" *ngFor="let photo of photos">
      <h4>{{photo.userName}}</h4>
      <img src="{{photo.url}}" class="img-thumbnail" alt="photo.userName" >
      
      <div class="text-center mb-4">
          <button type="button" (click)="approvePhoto(photo.id)" class="btn btn-sm btn-outline-success btn-down"><strong>Valider</strong></button>
          <button type="button" (click)="rejectPhoto(photo.id)" class="btn btn-sm btn-outline-danger btn-down"><i class="fa fa-trash-o"></i></button>
      </div>

  </div>
</div>
