.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color:  rgb(3, 233, 3)!important;
}

.nav-link {
  color:white !important;
}

.btn-info:hover {
    text-decoration: none;
    color: black !important;
    background:rgb(3, 233, 3) !important
}
[type="radio"]:before{
  position:initial;
}

