<form #registerForm="ngForm" (ngSubmit)="register()"  class="rtl">
    <h4 style="font-weight:bold;font-family:'CaviarDreams';" class="text-center text-dark"> Votre emploi vous attend</h4>
    <hr>
  
    <div class="form-group">
      <input name="username" [(ngModel)]="model.username" type="text" class="form-control" placeholder="Nom utilisateur">
    </div>

    <div class="form-group">
      <input name="password" [(ngModel)]="model.password" type="password" class="form-control" placeholder="Mot de passe">
    </div>
  
    <div class="form-group text-center">
      <button  style="font-weight:bold;font-family:'CaviarDreams';" class="btn btn-info btn-lg" type="submit">Participer</button>

      <button (click)="cancel()" style="font-weight:bold;font-family:'CaviarDreams';" class="btn btn-info btn-lg ml-2" type="button">Annuler</button>
    </div>
  
  </form> 